.car-administration {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin-left: 20px;
}

.car-administration_hide {
  display: none;
}

.car-administration button {
  padding: 2px 5px;
}

.cars-generate__btn-race,
.cars-generate__btn-reset {
  background-color: rgba(4, 255, 150, 0.747);
}

.cars-generate__btn-race:hover,
.cars-generate__btn-reset:hover { background-color: rgb(4, 255, 150);}

.car-administration button:active { background-color: rgba(4, 255, 150, 0.747);}


.car-administration > * {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
