* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}

::-webkit-scrollbar {
  /* chrome based */
  width: 0px;
  /* ширина scrollbar'a */
  background: transparent;
  /* опционально */
}

html {
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
  overflow:  auto;

}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

ul {
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;

}

.header {
  position: absolute;
  display: flex;
  width: 100%;
  height: 120px;
  background: #ffffff;
  left: 0;
  top: 0;
}

.wrapper {
  width: 1200px;

}

/* start menu*/

.header-menu {
  display: flex;
  justify-content: flex-end;

  margin: auto auto auto auto;

}

.title {
  display: flex;
  flex-direction: column;
  margin: auto auto auto 0;
  cursor: pointer;
}

.title:hover {
  filter: invert(50%);
}

.title-subtitile {
  margin: 10px auto 0 auto;

}

.nav-menu {
  display: flex;
  flex-wrap: nowrap;
  margin: 16px 0 auto 0;
  z-index: 1;
  transform: translateX(0);
}

.nav-li {
  margin-left: 35px;
}

.menu-link {
  position: relative;
  transition: all 0.5s;
}

.menu-link:hover {
  color: #292929;
}

.menu-link::before {
  content: '';
  left: 0;
  bottom: 0;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #F1CDB3;
  transition: width 0.1s;
}

.menu-link:active:before {
  width: 100%;
}


.menu-link-start {
  cursor: default;
  pointer-events: none;
}

.nav-about {
  border-bottom: #F1CDB3 2px solid;
}



.burger {
  position: fixed;
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  z-index: 10;
  width: 30px;
  height: 30px;
}

.burger-line {
  width: 100%;
  height: 2px;
  background: #000000;
}

.blur-background {
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
 }


/* pets start */

.container-our-friends {
  display: flex;
  width: 100%;
  height: 1462px;
  background: #F6F6F6;
}

.wrapper-pets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 200px auto auto auto;

}

.pets-title {
  display: flex;
  width: 100%;
}

.title-pets {
  width: 400px;
  height: 90px;
  margin: auto auto;
}

.pets-slider {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 60px auto;
  transform: translateX(0);
  opacity: 1;
}

.pets-slider-active-end {
  transform: scaleX(-0.9);

  transition: all 0.02s;

}

.pets-slider-active-start {
  transform: scaleX(-0.9);
  transition: all 0.02s;

}



/* start pets cards */

.pets-slider-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px 40px;

}

.slider-cards {
  display: flex;
  flex-direction: column;
  background: #FAFAFA;
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  transition: all 0.5s;
  cursor: pointer;
}

.slider-cards:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  background: #ffffff;
}

.slider-cards:hover .cards-btn-click {
  background: #F1CDB3;
}

.cards-img {
  background-repeat: no-repeat;
  width: 270px;
  height: 270px;
  border-radius: 9px 9px 0px 0px;
  background-position: center;
}


.cards-name {
  margin: 30px auto;
}

.cards-btn {
  margin: 0 auto;
}

.cards-btn-click {
  width: 187px;
  height: 52px;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.5s;

}

.cards-btn-click:hover {
  background: #FDDCC4;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

/* end pets cards */

/* start pets cards control */

.pets-page-contol {
  display: flex;
  width: 100%;
}

.pets-contol {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  width: 340px;
  height: 52px;
}

.pets-slider-btn {
  width: 52px;
  height: 52px;
  margin: auto 0;

}

.slider-prev {
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.5s;
}


.slider-prev:hover {
  border: 2px solid #FDDCC4;
  background: #FDDCC4;
}


.slider-prev:active {
  border: 2px solid #F1CDB3;
  background: #F1CDB3;
}

.slider-prev:disabled {
  border: 2px solid #CDCDCD;
  background-color: transparent;
  color: #CDCDCD;
  cursor: default;
}


.slider-list {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.5s;
  background-color: transparent;

}

.slider-list:hover {
  border: 2px solid #FDDCC4;
  background: #FDDCC4;
}

.slider-list:active {
  border: 2px solid #F1CDB3;
  background: #F1CDB3;
}


.slider-list:disabled {
  border: 2px solid #CDCDCD;
  background-color: transparent;
  color: #CDCDCD;
  cursor: default;
}


.slider-next {
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.5s;
}



.slider-next:hover {
  border: 2px solid #FDDCC4;
  background: #FDDCC4;
}


.slider-next:active {
  border: 2px solid #F1CDB3;
  background: #F1CDB3;
}


.slider-next:disabled {
  border: 2px solid #CDCDCD;
  background-color: transparent;
  color: #CDCDCD;
  cursor: default;
}

/* start popap*/

.popap {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: rgba(41, 41, 41, 0.6);

}


.popap-open {

  visibility: visible;
}

.html-hidden {
  overflow: hidden;
}

.popap-container {
  max-width: 900px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  background: #FAFAFA;
  border-radius: 9px;
  margin: auto auto;
  display: flex;
  justify-content: space-between;
}

.popap-closed {
  position: absolute;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: transparent;
  transform: translate(890px, -52px);
  display: flex;
  cursor: pointer;
}

.popap-img-closed {
  margin: auto auto;
}

.popap-images {
  display: flex;
  flex-direction: column-reverse;
}


.popap-images-pets {
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 500px;
  border-radius: 9px 0px 0px 9px;

}

.popap-description-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.popap-description {
  display: flex;
  flex-direction: column;
  max-width: 351px;
  max-height: 362px;
  width: 100%;
  height: 100%;
  margin: 50px 20px auto auto;

}

.popap-type-and-breed {
  margin-top: 10px;
  margin-bottom: 40px;
}

.popap-list-container {
  margin-top: 40px;
  margin-left: 15px;

}

.popap-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 102px;
}

/* end popap */

/* start footer */

.footer {
  display: flex;
  width: 100%;
  height: 350px;
  background-image: url(../../assets/images/start-screen-gradient-background.png);
  background-size: cover;
}

.wrapper-footer {
  margin: auto auto 0 auto;
  display: flex;
  justify-content: space-between;
  height: 310px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  width: 302px;
  height: 234px;
  margin-top: 17px;
}

.questions-email {
  display: flex;
  margin: 38px auto 40px 0;
}

.questions-mobile {
  display: flex;
}



.footer-img {
  width: 300px;
  height: 100%;
  margin-top: auto;
  margin-bottom: 0;
}

.footer-img-dog {
  background-image: url(../../assets/images/footer-puppy.png);
  background-repeat: no-repeat;
  width: 300px;
  height: 310px;

}

.email {
  margin: auto auto auto 20px;
  cursor: pointer;
  transition: all 0.5s;
}

.email:hover {
  color: #ffffff;
  filter: invert(50%);
}

.email-logo {
  background-image: url(../../assets/icons/icon-email.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 32px;
  cursor: pointer;
  transition: all 0.5s;

}

.email-logo:hover {
  filter: invert(50%);
}

.mobile {
  margin: auto auto auto 20px;
  cursor: pointer;
  transition: all 0.5s;
}

.mobile:hover {
  color: #ffffff;
  filter: invert(50%);
}

.mobile-logo {
  background-image: url(../../assets/icons/icon-phone.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 32px;
  cursor: pointer;
  transition: all 0.5s;
}

.mobile-logo:hover {
  filter: invert(50%);
}

.footer-locations {
  width: 322px;
  height: 234px;
}

.locations-street {
  display: flex;
}

.address1 {
  margin: 32px 0 34px 0;
  display: flex;
}

.address1-title {
  margin: auto 0 auto auto;
  cursor: pointer;
  transition: all 0.5s;
}

.address1-title:hover {
  color: #ffffff;
  filter: invert(50%);
}

.address-logo {
  background-image: url(../../assets/icons/pin.png);
  background-repeat: no-repeat;
  min-width: 22px;
  height: 32px;
  margin: auto 20px auto 0;
  cursor: pointer;
  transition: all 0.5s;
}

.address-logo:hover {
  filter: invert(50%);
}


.address2-title {
  cursor: pointer;
  transition: all 0.5s;
}

.address2-title:hover {
  color: #ffffff;
  filter: invert(50%);
}

.footer-map {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
}

.footer-map-iframe {
  width: 350px;
  height: 305px;
}


@media (max-width: 1210px) {

  .header-menu {
    display: flex;
    justify-content: flex-end;

    margin: auto 30px auto 30px;

  }

  .wrapper-pets {
    margin: 200px 30px auto 30px;

  }

  .container-our-friends {
    height: 1853px;
  }

  .pets-slider {
    display: flex;
    justify-content: space-between;
    width: 580px;
    margin: 30px auto 40px auto;
  }

  .pets-slider-cards {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;

    gap: 0;
    row-gap: 30px;
    column-gap: 40px;
  }

  .slider-cards:nth-of-type(7),
  .slider-cards:nth-of-type(8) {
    display: none;
  }

  .footer-content {
    width: 50%;
  }

  .wrapper-footer {
    margin-bottom: 0;
  }

}


@media (max-width: 1000px) {

  .popap-container {
    width: 630px;
    height: 350px;
  }


  .popap-closed {
    transform: translate(621px, -52px);

  }

  .popap-images-pets {
    width: 350px;
    height: 350px;
  }

  .popap-description {
    max-width: 260px;
    max-height: 303px;
    width: 100%;
    height: 100%;
    margin: 10px 9px auto auto;

  }


  .popap-type-and-breed {
    margin-bottom: 20px;
  }

  .popap-list-container {
    margin-top: 20px;

  }

  .popap-list {
    height: 87px;
  }

}


@media (max-width: 905px) {


  .footer {
    height: 639px;
  }

  .wrapper-footer {
    justify-content: space-around;
    flex-wrap: wrap;
    height: 609px;
    margin: auto 30px 0 50px;
  }

  .footer-content {
    margin-top: 0;
  }

  .footer-img {
    height: 310px;
    margin: auto auto 0 185px;
  }

}


@media (max-width: 769px) {


  .wrapper-footer {
    margin: 30px 30px 0 30px;
  }

  .footer-content {
    width: 40%;
  }

  .footer-locations {
    width: 302px;
    height: 234px;
  }

  .address1 {
    margin-bottom: 40px;
  }

  .footer-img {
    width: 50%;
    margin-left: 204px;
    margin-right: auto;
  }

}




@media (max-width: 767px) {


  .burger {
    position: absolute;
    visibility: visible;
    top: 45px;
    right: 25px;
    transform: rotate(0);
    transition: all 0.5s;

  }

  .burger-open {
    transform: rotate(90deg);
  }

  .nav-menu {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #ffffff;
    width: 320px;
    height: 100vh;
    visibility: hidden;
    margin: 0;
    transform: translateX(500px);
    z-index: 9;
    transition: all 0.3s;


  }

  .menu-link {
transition: none;
  }

  .nav-menu-open {
    visibility: visible;
    transform: translateX(0);
  }

  .nav-li {
    margin: 0 0 40px 0;
  }

  .nav-li:last-child {
    margin: 0;
  }

}

@media (max-width: 760px) {

  .pets-slider {
    width: 100%;
  }

  .pets-slider-cards {
    column-gap: 1%;
  }

}



@media (max-width: 755px) {

  .popap-container {
    width: 240px;
    max-height: 341px;

  }


  .popap-closed {
    transform: translate(218px, -52px);

  }

  .popap-images {
    display: none;
  }

  .popap-description-container {
    justify-content: space-between;

    width: 100%;
  }

  .popap-description {
    max-width: 220px;
    max-height: 321px;
    width: 100%;
    height: 100%;
    margin: auto auto auto auto;

  }

  .popap-name-h3 {
    text-align: center;
  }



  .popap-type-and-breed {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
  }

  .popap-list-container {
    margin-top: auto;

  }

  .popap-list {
    height: 87px;
  }

}


@media (max-width: 600px) {

  .container-our-friends {
    height: 1769px;
  }

  .wrapper-pets {
    margin: 149px 0 auto 0;
    width: 100%;
  }

  .title-pets {
    display: flex;
    width: 100%;
  }

  .h3-pets {
    margin: 0 auto;
  }

  .pets-slider-cards {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .slider-cards:nth-of-type(4),
  .slider-cards:nth-of-type(5),
  .slider-cards:nth-of-type(6) {
    display: none;
  }

  .pets-page-contol {
    margin-left: 10px;
    margin-right: 10px;
    width: 95%;
  }

  .pets-contol {
    max-width: 340px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

  }

}




@media (max-width: 680px) {


  .footer {
    height: 809px;
    transition: all 0s;
  }

  .wrapper-footer {
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    margin: 0 10px;
  }

  .footer-content {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 0;
  }

  .questions-email {
    margin: 30px auto 40px auto;
  }

  .footer-img {
    display: flex;
    width: 260px;
    margin: auto auto 0 auto;
  }

  .footer-img-dog {
    margin: auto auto 0 auto;
    width: 260px;
    height: 269px;
    background-size: cover;
  }

}


@media (max-width: 330px) {
  .header-menu {
    margin: auto 20px;
  }

  .footer-contacts {
    margin-top: 30px;
    margin-bottom: 5px;
  }

  .questions-email {
    margin-top: 40px;
  }

  .locations-title {
    width: 90%;
  }

  .address1 {
    text-align: left;
    margin-top: 38px;
  }

  .address2 {
    text-align: left;
    width: 100%;
  }

  .footer-img {
    width: 260px;
    height: 269px;
  }

  .footer-img-dog {
    margin-top: 0;

  }

}

/*
 *,
*::before,
*::after {
  border: 1px solid red;
}
*/
