* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --themes-background: hsla(300, 17%, 92%, 0.9);
  --themes-color: rgba(255, 255, 255, 0.863);
  --head-color: rgba(255, 255, 255, 0.863);
}

.body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  min-width: 480px;
  min-height: 100vh;
  background-color: #2b2a2a;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--themes-color);
}

.body-dark {
  background-image: url(../assets/img/background-dark.jpg);
  background-color: #222122;

}

.body-light {
  background-image: url(../assets/img/background-light.jpg);
  background-color: #eee7ee;
  color: rgb(51, 51, 51);
}

.header {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px 10px 0 0;
  user-select: none;
  color: var(--head-color);
}

.volume {
  background-image: url(../assets/icons/volume-up-white.svg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  margin: 0 auto 0 auto;
  cursor: pointer;
}

.volume-mute {
  background-image: url(../assets/icons/volume-up-fill.svg);
}

.looser {
  font-size: 22px;
  visibility: hidden;
  position: fixed;
  background-color: var(--themes-background);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  color: var(--themes-color);
}

.looser-active {
  visibility: visible;
}

.looser__table {
  width: 44%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  margin: 10px 0;
}

.looser__table *:first-child {
  padding-left: 10px;
}

.looser__table *:last-child {
  padding-right: 10px;
}

.looser-result {
  width: 40%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.looser-relog {
  background: url(../assets/icons/delite.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  border: 3px solid;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 10px;
}

.looser-relog:hover {
  transform: rotate(180deg);
  transition: all 0.5s;
}

.flags {
  background-image: url(../assets/icons/mapmarker.ico);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.bomb {
  font-size: 40px;
  text-align: center;
  min-width: 45px;
  min-height: 45px;
  border-radius: 10px;
  padding: 0 5px 0 5px;
  margin: 0 20px;
  background: url(../assets/icons/bomb.png) center/cover, rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}

.time {
  font-size: 40px;
  text-align: center;
  border-radius: 10px;
  padding: 0 5px 0 5px;
  margin-right: 20px;
  background-color: rgba(167, 23, 167, 0.466);
}

.main {
  font-size: 25px;
  display: grid;
  justify-items: stretch;
  user-select: none;
  min-height: 500px;
  color: var(--themes-color);
}

.main-easy {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.main-medium {
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
}

.main-hard {
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(25, 1fr);
}


.wrapper-easy,
.wrapper-medium,
.wrapper-hard {
  background-color: var(--themes-background);
  /* filter: invert(50%); */
}

.wrapper-easy {
  width: 40%;
}

.wrapper-medium {
  width: 70%;
}

.wrapper-hard {
  width: 70%;
}


.cell {
  background-color: rgba(167, 23, 167, 0.466);
  border: 1px solid rgba(167, 23, 167, 1);
  cursor: pointer;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  min-height: 30px;
}

.cell:hover {
  border: 1px solid;
}

.open {
  visibility: hidden;
}

.open-active {
  background-color: var(--themes-background);
}

.boom {
  animation: 1.0s ease-in-out 0s normal none infinite running trambling-animation;
}


@keyframes trambling-animation {

  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }

  10%,
  30% {
    transform: rotate(-10deg);
  }

  20%,
  40% {
    transform: rotate(10deg);
  }
}

.closed {
  visibility: visible;
}

.add-flag {
  background: url(../assets/icons/mapmarker.ico);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: rgba(167, 23, 167, 0.466)
}

.footer {
  height: 60px;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  color: var(--head-color);
}

.settings__icon {
  background-image: url(../assets/icons/settings.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s;
}

.settings__icon-open {
  transform: rotate(90deg);
}

.settings {

  visibility: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 250px;
  max-height: 500px;
  width: 30%;
  height: 50%;
  background-color: var(--themes-background);
  z-index: 10;
  padding: 10px;
  border-radius: 0 10px 0 0;
  transition: all 0.3s;
  opacity: 0;
  box-shadow: 1px 1px 8px rgb(255, 255, 255);
  color: var(--themes-color);
}

.setting__title {
  font-size: 24px;
  z-index: 999;
  width: 100%;
}

.setting__level {
  width: 100%;
  font-size: 20px;
}

.setting {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.setting__level-text {
  padding: 0 10px;
}

.switch-btn {
  display: inline-block;
  width: 48px; /* ширина */
  height: 25px; /* высота */
  border-radius: 13px; /* радиус скругления */
  background: #bfbfbf; /* цвет фона */
  z-index: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms; /* анимация */

}

.switch-btn::after {
  content: "";
  height: 21px; /* высота кнопки */
  width: 21px; /* ширина кнопки */
  border-radius: 17px;
  background: #fff; /* цвет кнопки */
  top: 2px; /* положение кнопки по вертикали относительно основы */
  left: 2px; /* положение кнопки по горизонтали относительно основы */
  transition-duration: 300ms; /* анимация */
  position: absolute;
  z-index: 1;
}
.switch-on {
  background: #797979;
}
.switch-on::after {
  left: 25px;
}

.settings__mines,
.settings__time {
  text-align: center;
  width: 15%;
  border-radius: 50%;
}

.settings__mines:focus,
.settings__time:focus {
  height: 110%;
  width: 18%;
  border-radius: 30%;
}

.setting:nth-of-type(5) {
  margin: 20px 0;
}

.relog {
  background: url(../assets/icons/reload.svg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: invert();
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
}

.relog:hover {
  transform: rotate(180deg);
  transition: all 0.5s;
}

.click-count {
  font-size: 40px;
  text-align: center;
  border-radius: 10px;
  padding: 0 5px 0 5px;
  margin-left: 10px;
  background-color: rgba(167, 23, 167, 0.466);
  user-select: none;

}

.load-bomb {
  position: absolute;
  text-align: center;
  min-width: 20px;
  min-height: 20px;
  background: url(../assets/icons/bomb.png) center/cover;
}

.save-bomb {
  border-color: rgb(0, 174, 255);
}
