* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}

::-webkit-scrollbar {
  /* chrome based */
  width: 0px;
  height: 0;
  /* ширина scrollbar'a */
  background: transparent;
  /* опционально */
}

html {
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
  overflow-x: hidden;

}


li {
  list-style-type: none;
  /* Убираем маркеры */
}

ul {
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}



.header {
  position: absolute;
  display: flex;
  width: 100%;
  height: 120px;
top: 0;
left: 0;
}

.wrapper {
  width: 1200px;
}

/* start menu*/

.header-menu {
  display: flex;
  justify-content: flex-end;

  margin: 30px auto auto auto;

}

.title {
  display: flex;
  flex-direction: column;
  margin: auto auto auto 0;
  cursor: pointer;
  transition: all 0.5s;
}

.title:hover {
  filter: invert(50%);

}

.title-subtitile {
  margin: 10px auto 0 auto;

}

.nav-menu {
  display: flex;
  flex-wrap: nowrap;
  margin: 16px 0 auto 0;
  z-index: 1;
  transform: translateX(0);

}


.nav-li {
  margin-left: 36px;
}

.nav-li:first-child {
  margin-left: 0;
}

.menu-link {
  position: relative;
  transition: all 0.5s;
}

.menu-link-start {
  cursor: default;
  pointer-events: none;

}

.menu-link:hover {
  color: #FAFAFA;

}

.menu-link::before {
  content: '';
  left: 0;
  bottom: 0;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #F1CDB3;
  transition: width 0.1s;
}

.menu-link:active:before {
  width: 100%;
}

.nav-about {
  border-bottom: #F1CDB3 2px solid;
}

.burger {
  position: fixed;
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  z-index: 10;
  width: 30px;
  height: 30px;
}

.burger-line {
  width: 100%;
  height: 2px;
  background: #F1CDB3;
}

.blur-background {
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
}

/*start not-only */

.container-not-only {
  display: flex;
  width: 100%;
  min-height: 908px;
  background-image: url(../../assets/images/start-screen-gradient-background.png);
  background-size: cover;
}

.not-only {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: auto auto 0 auto;
  height: 728px;
}

.not-only-content {
  width: 460px;
  margin: auto auto 243px 0;
}

.content-title {
  width: 314px;
  margin-left: 0;
  margin-right: auto;
}

.content-subtitile {
  width: 100%;
  margin: 42px auto 42px 0;
}

.content-btn {
  width: 207px;
  height: 52px;

  background: #F1CDB3;
  border-radius: 100px;
}

.content-btn-click {
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.5s;
}

.content-btn-click:hover {
  background: #FDDCC4;
}

.puppy {
  background-image: url(../../assets/images/start-screen-puppy.png);
  background-repeat: no-repeat;
  width: 698px;
  height: 728px;
}

/* start about */

.container-about {
  display: flex;
  width: 100%;
  height: 588px;
}


.about {
  display: flex;
  height: 408px;
  margin: 80px auto auto auto;
}

.about-pets {
  width: 50%;
  display: flex;
}

.about-pets-images {
  background-image: url(../../assets/images/about-pets.png);
  background-repeat: no-repeat;
  width: 300px;
  height: 408px;
  margin: auto auto auto 175px;
}

.about-content {
  width: 430px;
  height: 380px;
  margin-top: 12px;
  margin-left: 0;
}

.about-content-title {
  width: 370px;
  height: 90px;
}

.about-content-subtitile {

  height: 96px;
  margin: 25px auto 25px 0;
}


/* pets start */

.container-our-friends {
  display: flex;
  width: 100%;
  height: 877px;
  background: #F6F6F6;
}

.wrapper-pets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 80px auto auto auto;
  height: 697px;
}

.pets-title {
  display: flex;
  width: 100%;
}

.title-pets {
  width: 400px;
  height: 90px;
  margin: auto auto;
}

.pets-slider {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: auto auto;

}

.pets-slider-btn {
  width: 52px;
  height: 52px;
  margin: auto 0;

}

.slider-prev {
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.5s;
}

.slider-prev:hover {
  background: #F1CDB3;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

/* start pets cards */


.pets-slider-container {
  width: 995px;
  overflow: hidden;

}

.pets-slider-cards {
position: relative;
width: 100%;
display: flex;
margin: 0;
padding: 5px 0;
left: -1080px;
}

.pets-slider-prev,
.pets-slider-active,
.pets-slider-next {
  display: flex;
}

.slider-cards {
  display: flex;
  flex-direction: column;
  background: none;
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  transition: all 0.5s;
  cursor: pointer;
  margin-right: 90px;
}



.slider-cards:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  background: #ffffff;
}

.slider-cards:hover .cards-btn-click {
  background: #F1CDB3;
}

.cards-img {
  background-repeat: no-repeat;
  width: 270px;
  height: 270px;
  border-radius: 9px 9px 0px 0px;
}


.cards-name {
  margin: 30px auto;
}

.cards-btn {
  margin: 0 auto;
}

.cards-btn-click {
  width: 187px;
  height: 52px;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.5s;

}

.cards-btn-click:hover {
  background: #F1CDB3;
}


/* end pets cards */

.slider-next {
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.5s;
}

.slider-next:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  background: #F1CDB3;
}

.pets-rest {
  display: flex;
  width: 100%;
}

.pets-btn {
  margin: auto auto;
}

.pets-btn-click {
  width: 261px;
  height: 52px;
  background: #F1CDB3;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.5s;
}

.pets-btn-click:hover {
  background: #FDDCC4;
}




@keyframes move-right {
  from {left: -1080px;}
  to {left: -2160px;}
}

.transition-right {
  animation-name: move-right;
  animation-duration: 1s;
}

@keyframes move-left {
  from {left: -1080px;}
  to {left: 0px;}
}

.transition-left {
  animation-name: move-left;
  animation-duration: 1s;
}

/*start help */

.container-help {
  display: flex;
  width: 100%;
  height: 611px;
}

.wrapper-help {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 80px auto;
  height: 431px;
}

.help-title {
  width: 358px;
  height: 90px;
  margin: 0 auto;
}

.help-list {
  display: flex;
  width: 100%;
  height: 281px;
  flex-wrap: wrap;
  justify-content: center;

}

.list-container {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
  margin-bottom: 55px;
}

.list-container:nth-of-type(5),
.list-container:nth-of-type(9) {
  margin-right: 0;
}

.list-container-img {
  width: 60px;
  height: 60px;
 background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}



/* start In addition */

.container-in-addition {
  display: flex;
  width: 100%;
  background: #F6F6F6;
  height: 462px;
}

.wrapper-addition {
  display: flex;
  flex-wrap: wrap;

  margin: 80px auto auto auto;
  width: 915px;
  height: 282px;
}

.addition-images {
  display: flex;
  width: 58%;
}

.addition-img-dog {
  background-image: url(../../assets/images/donation-dog.png);
  background-repeat: no-repeat;
  width: 505px;
  height: 261px;
  margin: auto auto auto 0;
}


.dontaion-container {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 282px;
  margin-left: 4px;
}

.donation-title {
  width: 300px;
  height: 90px;
}


.donation-bank {
  display: flex;
  margin-top: 20px;
}

.bank-slash {
  margin: 0 5px;
}

.donation-number-cards {
  display: flex;
  margin: 20px 0;
}



.number-cards-btn {
  width: 349px;
  height: 43px;
  background: #F1CDB3;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 0 15px 0 59px;

  transition: all 0.5s;
}

.number-cards-btn::before {
  content: url('../../assets/icons/credit-card.svg');
  width: 30px;
  height: 23px;
  position: absolute;
  top: 10px;
  bottom: 0px;
  left: 15px;
}

.number-cards-btn:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  color: #ffffff;
}

/* start footer */

.footer {
  display: flex;
  width: 100%;
  height: 350px;
  background-image: url(../../assets/images/start-screen-gradient-background.png);
  background-size: cover;
}

.wrapper-footer {
  margin: auto auto 0 auto;
  display: flex;
  justify-content: space-between;
  height: 310px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  width: 302px;
  height: 234px;
  margin-top: 15px;
}

.questions-email {
  display: flex;
  margin: 38px auto 40px 0;
}

.questions-mobile {
  display: flex;
}



.footer-img {
  width: 300px;
  height: 100%;
  margin-top: auto;
  margin-bottom: 0;
}

.footer-img-dog {
  background-image: url(../../assets/images/footer-puppy.png);
  background-repeat: no-repeat;
  width: 300px;
  height: 310px;

}

.email {
  margin: auto auto auto 20px;
  cursor: pointer;
  transition: all 0.5s;
}

.email:hover {
  color: #ffffff;
  filter: invert(50%);
}

.email-logo {
  background-image: url(../../assets/icons/icon-email.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 32px;
  cursor: pointer;
  transition: all 0.5s;

}

.email-logo:hover {
  filter: invert(50%);
}

.mobile {
  margin: auto auto auto 20px;
  cursor: pointer;
  transition: all 0.5s;
}

.mobile:hover {
  color: #ffffff;
  filter: invert(50%);
}

.mobile-logo {
  background-image: url(../../assets/icons/icon-phone.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 32px;
  cursor: pointer;
  transition: all 0.5s;
}

.mobile-logo:hover {
  filter: invert(50%);
}

.footer-locations {
  width: 322px;
  height: 234px;
}

.locations-street {
  display: flex;
}

.address1 {
  margin: 32px 0 34px 0;
  display: flex;
}

.address1-title {
  margin: auto 0 auto auto;
  cursor: pointer;
  transition: all 0.5s;
}

.address1-title:hover {
  color: #ffffff;
  filter: invert(50%);
}

.address-logo {
  background-image: url(../../assets/icons/pin.png);
  background-repeat: no-repeat;
  min-width: 22px;
  height: 32px;
  margin: auto 20px auto 0;
  cursor: pointer;
  transition: all 0.5s;
}

.address-logo:hover {
  filter: invert(50%);
}


.address2-title {
  cursor: pointer;
  transition: all 0.5s;
}

.address2-title:hover {
  color: #ffffff;
  filter: invert(50%);
}


.footer-map {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
}

.footer-map-iframe {
  width: 350px;
  height: 305px;
}

@media (max-width: 1279px) {

  .header {
    width: 100%;
    height: 120px;
  }

  .wrapper {
    width: 1200px;
    margin: auto 30px;
  }

  /*start not-only */


  .not-only {
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    margin: auto 0 0 0;
    min-height: 728px;
  }

  .not-only-content {
    width: 50%;
    margin: auto 40px;
  }

  .content-title {
    width: 100%;
  }

  .content-subtitile {
    width: 100%;
  }

  .content-btn-click {
    width: 100%;
  }

  /* start about */
  .about-pets {
    width: 50%;
    display: flex;
  }

  .about-content {
    width: 50%;
  }

.container-help {
height: 100%;
}

  .wrapper-help {
    height: 599px;
    margin: 80px auto auto 0;
  }

  .help-list {
    margin: auto auto;
    width: 100%;
    height: 449px;
    transition: all 0.0s;

  }

  .list-container {
    width: 25%;
    margin: 0;
  }



  .dontaion-container {
    width: 40%;
  }

  .footer-content {
    width: 50%;
  }

    .wrapper-footer {
    margin-bottom: 0;
  }


}



@media (max-width: 1000px) {

  .container-about {
    height: 1048px;

  }

  .about {
    flex-direction: column-reverse;
    height: 868px;
    margin: 80px 165px 0 165px;
  }

  .about-content {
    width: 98%;
    margin: 0 auto 80px auto;
  }

  .about-content-title {
    width: 100%;
  }


  .about-pets {
    width: 100%;
  }

  .about-pets-images {
    margin: auto auto 0 auto;
  }


}


@media (max-width: 1000px) {

  .wrapper-pets {
    margin: 80px 30px auto 30px;

  }

  .slider-cards:last-child {
    display: none;
  }

  .container-in-addition {
    height: 783px;
  }

  .wrapper-addition {
    flex-direction: column-reverse;
    justify-content: flex-end;

    margin-top: 0;
    height: 100%;
  }

  .addition-images {
    margin: 0 auto;
    width: 505px;
    height: 261px;
  }

  .dontaion-container {
    width: 70%;
    margin: 80px auto 60px auto;
  }

  .donation-title {
    width: 100%;
  }

  .donation-title-h3 {
    width: 100%;
  }

  .footer-map-iframe {
    width: 250px;
    height: 230px;
  }



}


@media (max-width: 1000px) {
  .header {
    width: 100%;
    height: 120px;
  }

  .wrapper {
    width: 1200px;
  }

  .content-btn {
    margin: 0 auto;
  }

  /*start not-only */


  .container-not-only {
    height: 1165px;
  }

  .not-only {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 1015px;
  }

  .not-only-content {

    width: 70%;
    margin: 0 auto auto auto;
  }




  .content-title {
    width: 100%;
  }

  .content-subtitile {
    width: 100%;
  }

  .content-btn-click {
    width: 100%;
  }

  .screen-content {
    margin-right: 30px;
  }

  .puppy {
    background-size: cover;
    width: 569px;
    height: 593px;
  }


  .wrapper-footer {
    margin-bottom: 0;
  }

  .footer-map-iframe {
    width: 300px;
    height: 280px;
  }

}


@media (max-width: 905px) {


  .footer {
    height: 639px;
  }

  .wrapper-footer {
    justify-content: space-around;
    flex-wrap: wrap;
    height: 609px;
    margin: auto 30px 0 50px;
  }

  .footer-content {
    margin-top: 0;
  }

  .footer-img {
    height: 310px;
    margin: auto auto 0 185px;
  }

}



@media (max-width: 800px) {

  .container-help {
    height: 779px;
  }

  .wrapper-help {
    height: 599px;
    margin: 80px auto auto 0;
  }

  .help-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px 60px;
    margin: 0 auto;
    width: 630px;
    height: 449px;
    transition: all 0.0s;

  }

  .list-container {
    width: 170px;
    height: 113px;
    margin: 0;
  }

}


@media (max-width: 769px) {

  .not-only-content {
    width: 60%;
  }

  .content-title {
    width: 70%;
  }

  .about-content-title {
    width: 80%;
  }

  .pets-slider-cards {
    width: 90%;
  }

  .dontaion-container {
    width: 54%;
  }

  .donation-title-h3 {
    width: 80%;
  }

  .wrapper-footer {
    margin: 30px 30px 0 30px;
  }

  .footer-content {
    width: 40%;
  }

  .footer-locations {
    width: 302px;
    height: 234px;
  }

  .address1 {
    margin-bottom: 40px;
  }

  .footer-img {
    width: 50%;
    margin-left: 204px;
    margin-right: auto;
  }

}

@media (max-width: 767px) {


  .burger {
    position: absolute;
    visibility: visible;
    top: 45px;
    right: 25px;
    bottom: 0;
    transform: rotate(0);
    transition: all 0.5s;
  }

  .burger-open {
    transform: rotate(90deg);
  }

  .nav-menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #292929;
    width: 320px;
    height: 100%;
    visibility: hidden;
    margin: 0;
    transform: translateX(500px);
    z-index: 9;
    transition: all 0.3s;

  }

  .menu-link {
    transition: none;
  }

  .nav-menu-open {
    visibility: visible;
    transform: translateX(0);
  }

  .nav-li {
    margin: 0 0 40px 0;
  }

  .nav-li:last-child {
    margin: 0;
  }

}

@media (max-width: 735px) {


  .not-only {
    width: 100%;
  }

  .not-only-content {
    margin-top: 0;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }

.content-btn{
margin-bottom: 12px;
}

  .screen-content {
    width: 80%;
    height: 100%;
  }

  .puppy {
    width: 100%;
    height: 100%;
  }

  .about {
    width: 70%;
    margin: 80px auto auto auto;
  }


  .about-content-title {
    width: 100%;
  }

  .donation-title {
    height: 100%;
  }

  .number-cards-icon {
    width: 100%;
  }

  .number-cards-btn {
    width: 100%;
  }

  .wrapper-addition {
    width: 100%;
    margin: auto;
  }

  .addition-images {
    width: 50%;
    height: 135.2px;

    margin: auto;
  }

  .addition-img-dog {
    background-size: contain;
  }

}



/* start pets 380px */

@media (max-width: 730px) {


  .wrapper-pets {
    margin: 42px 10px;

  }

  .title-pets {
    width: 90%;
    margin: 0 auto;
  }

  .h3-pets {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .slider-cards {
    display: none;
  }

  .slider-cards:first-child {
    display: flex;
  }

  .help-list {
    width: 100%;
    gap: 5%;
  }

  .help-title {
    width: 80%;
  }

}

@media (max-width: 680px) {


  .footer {
    height: 809px;
    transition: all 0s;
  }

  .wrapper-footer {
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    margin: 0 10px;
  }

  .footer-content {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 0;
  }

  .questions-email {
    margin: 30px auto 40px auto;
  }

  .footer-img {
    display: flex;
    width: 260px;
    margin: auto auto 0 auto;
  }

  .footer-img-dog {
    margin: auto auto 0 auto;
    width: 260px;
    height: 269px;
    background-size: cover;
  }

}



/* start help 380px */

@media (max-width: 600px) {


  .container-help {
    height: 745px;
  }

  .wrapper-help {
    height: 599px;
    margin: 42px auto auto 0;
  }

  .help-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 0 auto;
    width: 290px;
    height: 555px;
    transition: all 0.0s;

  }

  .list-container {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 87px;
    margin: 0;
    justify-content: space-between;

  }

  .list-container-img {
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin-bottom: 0;
  }


  .help-title {
    margin-bottom: 42px;
  }


}

/* start not only 380px */

@media (max-width: 500px) {

  .header-menu {
    margin: auto 20px;
  }

  .title {
    margin: auto auto auto 0;
  }

  .container-not-only {
    min-height: 823px;
    height: 823px;
  }

  .not-only {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: column;

    height: 673px;
    margin: auto 10px 0 10px;
  }

  .not-only-content {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

  }

  .content-title {
    margin: 0 auto;
    text-align: center;
  }

  .content-subtitile {
    text-align: center;
  }


  .screen-content {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }


  .puppy {
    margin: auto auto 0 auto;
    background-size: contain;
    width: 260px;
    height: 272px;
  }

}


/* start donation 380px */

@media (max-width: 550px) {

  .container-in-addition {

    height: 542.2px;
  }

  .wrapper-addition {
    flex-direction: column-reverse;
    justify-content: flex-end;

    margin-top: 0;
  }

  .addition-images {
    margin: 0 auto;
    width: 260px;
    height: 135.2px;

  }

  .addition-img-dog {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .dontaion-container {
    width: 90%;
    margin: 42px auto;
  }

  .donation-title {
    width: 90%;
    margin: 0 auto;
    text-align: center;

  }

  .donation-title-h3 {
    margin: 0 auto 0 auto;
  }

  .donation-bank {
    margin: 0 auto 5px auto;
  }

  .legal-inforamtion-text {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

}



/* start about 380px */

@media (max-width: 500px) {

  .container-about {
    height: 974px;

  }

  .about {
    flex-direction: column-reverse;
    height: 890px;
    width: 100%;
    margin: auto 23px 42px 23px;
  }

  .about-content {
    height: 494px;
    margin: 0 auto 42px auto;
  }



  .about-content-title {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
    height: 64px;
  }

  .about-content-subtitile:nth-of-type(1) {
    height: 144px;
    margin-bottom: 23px;
  }

  .about-content-subtitile:nth-of-type(2) {
    height: 239px;
    margin-bottom: 23px;
  }

  .about-pets {
    width: 260px;
    height: 353.6px;
  }

  .about-content-subtitile {
    display: block;
    text-align: justify;
    margin: 0;
  }



  .about-pets-images {
    background-size: cover;

    width: 100%;
    height: 100%;
    margin: auto auto auto auto;
  }

}


/*start footer 380px */



@media (max-width: 400px) {

  .container-our-friends {
    height: 791px;
  }

  .wrapper-pets {
    height: 707px;
  }

  .title-pets {
    width: 100%;
  }

  .pets-slider {
    flex-wrap: wrap;
    margin-top: 18px;
    width: 270px;
    height: 435px;
  }

  .pets-slider-cards {
    order: -1;
    margin: 0 auto 0 auto;
  }

  .pets-slider-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }



}





/* start donation 380px */

@media (max-width: 330px) {

  .footer-contacts {
    margin-top: 30px;
    margin-bottom: 15px;
  }

.footer-locations {
  height: 222px;
  margin-bottom: 35px;
}
  .questions-email {
    margin-top: 40px;
  }

  .locations-title {
    width: 90%;
  }

  .address1 {
    text-align: left;
    margin-top: 38px;
  }

  .address2 {
    text-align: left;
    width: 100%;
  }

  .footer-img {
    width: 260px;
    height: 269px;
  }

  .footer-img-dog {
    margin-top: 0;
    width: 100%;
    height: 100%;

  }



}
@media (max-width: 320px) {

.screen-content {
  display: flex;
  margin-right: 0;
  margin-left: auto;
  width: 90%;
}

}

/*
*,
*::before,
*::after {
  border: 1px solid red;
}

*/
