
.container-table {
  perspective: 800px;
  outline: solid 1px transparent;
  margin: 0px auto 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space: nowrap;
  width: 100%;
  opacity: 0.9;
}

.description {
  text-align: center;
  font-size: 2rem;
}

.table-field {
  transform: rotateX(40deg);
  transform-origin: bottom;
  box-shadow: 0px 40px 10px rgba(0,0,0,.2);
  background: #dd992d;
  background: -webkit-linear-gradient(#dd992d,#cd8c26);
  background: linear-gradient(#dd992d,#cd8c26);
  width: var(--table-width);
  min-width: min-content;
  height: 120px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.table-butt {
  width: var(--table-width);
  margin: 0 auto;
  background: #ac741c;
  height: 15px;
  transform: rotateX(-45deg);
  transform-origin: top;
}

.table-legs {
  display: flex;
  justify-content: space-between;
  width: calc(var(--table-width) - 5%);
  margin: 0 auto;
  transform: rotateX(-50deg);
  transform-origin: 100% -50%;
}

.left-butt {
  width: 24px;
  height: 15px;
  background: #84570f;
  transform: rotateX(-50deg);
  transform-origin: top;
}

.right-butt {
  width: 24px;
  height: 15px;
  background: #84570f;
  transform: rotateX(-50deg);
  transform-origin: top;
}

.input-field {
  width: 100%;
  min-height: 200px;
}

plate {
  border-bottom: solid 5px #DDD;
  background: white;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  box-shadow: 0px 12px 0px rgba(0,0,0,.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.table-field > plate {
  margin: 0 10px;
  max-width: 80px;
  max-height: 80px;
}

.table-field > * > plate {
  max-width: 70px;
  max-height: 70px;
}

.table-field > * > * > plate {
  max-width: 50px;
  max-height: 50px;
}


bento {
  background: brown;
  border: solid 3px #711c12;
  border-width: 20px 2px;
  margin: 10px;
  display: inline-block;
  box-shadow: 0px 8px 0px rgba(0,0,0,.1);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-field > bento {
  max-width: 100px;
  max-height: 50px;
}

.table-field > * > bento {
  max-width: 100px;
  max-height: 50px;
}

.table-field > * > * > bento {
  max-width: 100px;
  max-height: 50px;
}


apple {
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border-style: solid;
  border-width: 2px 4px 10px 4px;
  box-shadow: 0px 8px 0px rgba(0,0,0,.2);
  background: #e41919;
  border-color: #ab1212;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-field > apple {
  max-width: 50px;
  max-height: 50px;
}

.table-field > * > apple {
  max-width: 30px;
  max-height: 30px;
}

.table-field > * > * > apple {
  max-width: 30px;
  max-height: 30px;
}

orange {
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border-style: solid;
  border-width: 2px 4px 15px 4px;
  background: orange;
  border-color: #bd6e07;
  box-shadow: 0px 5px 0px rgba(0,0,0,.2);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-field > orange {
  max-width: 50px;
  max-height: 50px;
}

.table-field > * > orange {
  max-width: 30px;
  max-height: 30px;
}

.table-field > * > * > orange {
  max-width: 30px;
  max-height: 30px;
}

pickle {
  background: #179837;
  border-radius: 30px;
  border: solid 2px #025a18;
  border-width: 2px 2px 9px 2px;
  margin: 20px 10px;
  box-shadow: 0px 5px 0px rgba(0,0,0,.2);  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-field > pickle {
  max-width: 25px;
  max-height: 50px;
}

.table-field > * > pickle {
  max-width: 15px;
  max-height: 30px;
}

.table-field > * > * > pickle {
  max-width: 15px;
  max-height: 30px;
}

.target {
    transform-origin: bottom;
    animation: target 1s infinite;
    animation-delay: 0s, .5s;
}

.find {
  animation: target 1s infinite;
  animation: find 1s infinite;
}

@keyframes target {
  0% { transform:   skew(4deg,0deg) scaleX(1); }
  10% { transform:  skew(1deg,0deg) scaleY(.8) ; }
  50% { transform:  skew(-4deg,0deg) scaleX(1); }
  60% { transform:  skew(-1deg,0deg) scaleY(.8) ; }
  100% {
    transform: skew(4deg,0deg) scaleX(1);
  }
}

@keyframes find {
 100% {
    opacity: 0;
  }
}


.table_hover {
  box-shadow: 0 0 0 6px rgba(255,255,255,.4);
  position: relative;
}

.table_hover::after {
  content: attr(data-content);
  position: absolute;
  min-width: 100px;
  max-height: 40px;
  font-size: 30px;
  left: 0; top: -50px;
  background: #3988c975;
  color: #fff;
  transform: rotateX(40deg);
}
