.input-field {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
  border: solid 10px rgba(0,0,0,.35);
  border-radius: 4px;
}

.left-field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 50%;
  flex: 1;
  min-width: 0;
}

.right-field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 50%;
  border: solid 1px #333;
  flex: 1;
  min-width: 0;
  user-select: none;
}

.input-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  padding: 10px 15px;
  background: rgba(0,0,0,.15);
  border-top: solid 1px rgba(255,255,255,.05);
  border-bottom: solid 1px rgba(255,255,255,.05);
  border-radius: 2px 2px 0 0;
  color: rgba(255,255,255,.6);
  user-select: none;
  max-height: 200px;
}

.name {
  width: 50%;
}

.file {
  opacity: 0.5;
  cursor: pointer;
}

.file:hover {
  opacity: 0.8;
}

.field-numbers__left {
  text-align: right;
  flex-basis: auto;
  line-height: 150%;
  background: #f7f7f7;
  color: #807d7c;
  padding-left: 18px;
}

/* .field-numbers__left {
  color: #999;
  background: #DDD;
} */

/* .field-numbers__right {
  color: #666;
  background: rgba(0,0,0,.3);
  border-right: solid 1px #333;
  flex-wrap: nowrap;
} */

.field-input {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  background: #f7f7f7;
}

.css-window {
  flex-grow: 1;
  flex: 1;
  min-width: 0;
  background: #efefef;
  color: #AAA;
  overflow-wrap: break-word;
  line-height: 150%;
}


.css-input {
  background: rgba(62,203,255,.3);
  animation: input .5s infinite;
  -moz-animation: input .5s infinite;
  color: #333;
  border: none;
  width: calc(100% - 44px);
  padding-left: 10px;
  height: 100%;
}

.css-input:focus,
.css-input:active {
  outline: none;
}

@keyframes input {
  50% { background:none ; }
}

@-moz-keyframes input {
  50% { background:none ; }
}


.enter-button {
  background: #ddd;
  display: block;
  border-radius: 2px;
  padding: 2px 7px 2px 7px;
  color: #666;
  border: solid 3px #999;
  border-width: 1px 1px 6px 1px;
  font-size: 9px;
  cursor: pointer;
  margin: 5px 5px 0 5px;
  user-select: none;

}

.enter-button:active {
  border-width: 0;
  margin-bottom: 7px;
}

.html-window {
  width: 100%;
  flex: 1;
  min-width: 0;
  background: rgba(0,0,0,.3);
  color: rgba(255,255,255,.3);
}

.html-window textarea,
.html-window textarea:focus {
  outline: none;
  border: none;
  resize: none;
}
