.input-field {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
  border: solid 10px rgba(0,0,0,.35);
  border-radius: 4px;
}

.input-field_snake {
  animation: snake .1s 5;
  -moz-animation: snake .1s 5;
}

@keyframes snake {
  0%   { transform: translateX(0); }
  25% {  transform: translateX(-5px); }
  50% {  transform: translateX(0); }
  75% {  transform: translateX(5px);
  }
}

@-moz-keyframes snake {
  0%   { transform: translateX(0); }
  25% {  transform: translateX(-5px); }
  50% {  transform: translateX(0); }
  75% {  transform: translateX(5px);
  }
}


.left-field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 50%;
  flex: 1;
  min-width: 0;
}

.right-field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 50%;
  border: solid 1px #333;
  flex: 1;
  min-width: 0;
  user-select: none;
}

.input-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  padding: 10px 15px;
  background: rgba(0,0,0,.15);
  border-top: solid 1px rgba(255,255,255,.05);
  border-bottom: solid 1px rgba(255,255,255,.05);
  border-radius: 2px 2px 0 0;
  color: rgba(255,255,255,.6);
  user-select: none;
  max-height: 200px;
}

.name {
  width: 50%;
}

.file {
  opacity: 0.5;
  cursor: pointer;
}

.file:hover {
  opacity: 0.8;
}

.field-numbers__left {
  text-align: right;
  flex-basis: auto;
  line-height: 150%;
  background: #f7f7f7;
  color: #807d7c;
  padding-left: 18px;
}

.field-input {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
  width: 100%;
  background: #f7f7f7;
}

.css-window {
  flex-grow: 1;
  flex: 1;
  min-width: 0;
  background: #efefef;
  color: #AAA;
  overflow-wrap: break-word;
  line-height: 150%;
}


.css-input {
  background: rgba(62,203,255,.3);
  animation: input .5s infinite;
  -moz-animation: input .5s infinite;
  color: #333;
  border: none;
  width: calc(100% - 44px);
  padding-left: 10px;
  height: 100%;
}

.css-input:focus,
.css-input:active {
  background: none;
  outline: none;
}

.enter-button {
  background: #ddd;
  position: absolute;
  display: block;
  border-radius: 2px;
  padding: 2px 7px 2px 7px;
  color: #666;
  border: solid 3px #999;
  border-width: 1px 1px 6px 1px;
  font-size: 9px;
  cursor: pointer;
  margin: 5px 5px 0 5px;
  top: -2px;
  user-select: none;
  z-index: 999;
}

.enter-button:active {
  border-width: 0;
  margin-bottom: 7px;
}

.enter-button_active {
  border-width: 0;
  margin-bottom: 7px;
}


.html-window {
  width: 100%;
  flex: 1;
  min-width: 0;
  background: rgba(0,0,0,.3);
  color: rgba(255,255,255,.3);
}

.html-window textarea,
.html-window textarea:focus {
  outline: none;
  border: none;
  resize: none;
}

.html-window__line_hover {
  opacity: 0.2;
}

.CodeMirror.css-window .CodeMirror-lines:before {
  content: '';
  position: absolute;
  top: 8;
  left: 0;
  padding: 5px;
  color: #9999993f;
  width: 80%;
  height: 10px;
  background: rgba(62,203,255,.4);
  opacity: 1;
  transition: all 0.3s;
  display: flex;
  align-items: center;
}

.CodeMirror.css-window .CodeMirror-lines:hover::before {
  opacity: 0;
}
